{% extends 'blog1/index.html' %}
{% block content %}
<h1 class="posttitle loader"> {{post.title}}</h1>
{% if post.published_date%}
<div class="date postdate">
{{ post.published_date}} <br>
    Post By : {{post.author}}

    </div>
{%else%}
<a class="btn btn-default" href="{%url 'post_publish' pk=post.pk%}"> Publish </a>
{% endif %}


<p class='textcontent'> {{post.text|safe|linebreaksbr}} </p>
{% if user.is_authenticated%}
{% if user.id == post.author.id%}
      <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk%}">
    Edit
     </a>
      <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">
    Delete </span>
     </a>
{%endif%}
{%endif%}
<a class="btn btn-primary btn comment"
   href="{% url 'add_comment_to_post' pk=post.pk%}">
    Add Comment
</a>
<div class="container">
    {% if user.is_authenticated or comment.approved_comment%}
    {{comment.created_date}}
    {% if not comment.approved_comment%}
    <a class="btn btn-primary" href="#"> Approve </a>
    <a class="btn btn-danger" href="#"> Remove</a>
     {% endif %}
    <p> {{comment.text|safe|linebreaks}}</p>
    <p> Posted By : {{comment.author}}</p>



{% endif%}

    </div>

{% endblock %}